/* style.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    background: white;
    padding: 2rem 3rem;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #3d3737;
  }
  
  .input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  input[type="text"]:focus {
    border-color: #00aaff;
    outline: none;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    background-color: #00aaff;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #008ecc;
  }
  
  #weather-info {
    margin-top: 20px;
  }
  
  #weather-info h2 {
    color: #222;
  }
  
  #weather-info p {
    margin: 5px 0;
    font-size: 18px;
    color: #c14bb7;
  }
  
  #error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .hidden {
    display: none;
  }
  